
html {
  background-color: black;
}

div {
  float: left;
}

#main {
  padding: 22px;
  width: 1300px;
  height: 694px;
}

#top-panel {
  background-color: #cc33ff;
  margin-bottom: 2%;
  width: 100%;
  height: 19%;
}

#left-panel {
  background-color: #993366;
  margin-right: 2%;
  width: 19%;
  height: 79%;
}

#right-panel {
  background-color: #ccffff;
  width: 79%;
  height: 79%
}
